<ion-view view-title="TODO">

    <ion-content ng-class="{expanded:isExpanded}">
        <div class="content">

            <ul class="list animate-fade-slide-in-right">
                <ion-list>

                    <ion-checkbox class="box">Hola</ion-checkbox>

                </ion-list>
                <ion-list>

                    <ion-checkbox class="box">Hola</ion-checkbox>

                </ion-list>
                <ion-list>

                    <ion-checkbox class="box">Hola</ion-checkbox>

                </ion-list>
                <ion-list>

                    <ion-checkbox class="box">Hola</ion-checkbox>

                </ion-list>

            </ul>

        </div>
    </ion-content>
</ion-view>